
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Calcular Frete </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Distância</ion-label>
    <ion-input
      type="number"
      placeholder="em km"
      [(ngModel)]="distancia"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Peso</ion-label>
    <ion-input type="number" placeholder="em kg" [(ngModel)]="peso"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Quantidade de Produtos</ion-label>
    <ion-input
      type="number"
      placeholder="00"
      [(ngModel)]="quantidade"
    ></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="calcular()">Calcular Frete</ion-button>

  <!-- <ion-input [readonly]="true" value="{{frete}}"></ion-input> !-->

  <ion-list>
    <ion-radio-group value="strawberries">
      <ion-item>
        <ion-label>Normal: R${{this.frete.toFixed(2)}}</ion-label>
        <ion-radio slot="end" value="1" color="tertiary"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Express: R${{this.entrega.express.toFixed(2)}}</ion-label>
        <ion-radio slot="end" value="0.1" color="tertiary"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Agendada: R${{this.entrega.agendada.toFixed(2)}}</ion-label>
        <ion-radio slot="end" value="0.2" color="tertiary"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-accordion-group>

    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Descontos por Quantidade</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">

        <ion-item>
          <ion-label position="stacked">Desconto para até 3 produtos</ion-label>
          <ion-input
            type="number"
            placeholder="em decimal (0.1)"
            [(ngModel)]="desconto.ate3"
            [disabled]="true"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Desconto de 4 a 5 produtos</ion-label>
          <ion-input
            type="number"
            placeholder="em decimal (0.1)"
            [(ngModel)]="desconto.ate5"
            [disabled]="true"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Desconto de 6 a 10 produtos</ion-label>
          <ion-input
            type="number"
            placeholder="em decimal (0.1)"
            [(ngModel)]="desconto.ate10"
            [disabled]="true"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Desconto para acima de 11 produtos</ion-label>
          <ion-input
            type="number"
            placeholder="em decimal (0.1)"
            [(ngModel)]="desconto.acimaDe11"
            [disabled]="true"
          ></ion-input>
        </ion-item>

      </div>
    </ion-accordion>
    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label>Preços por Distância</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">

        <ion-item>
          <ion-label position="stacked">Preço por Km em reais</ion-label>
          <ion-input
            type="number"
            placeholder="em decimal (0.1)"
            [(ngModel)]="km"
            [disabled]="true"
            id="input"
          ></ion-input>
        </ion-item>

      </div>
    </ion-accordion>

    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label>Preços por Peso</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">

        <ion-item>
          <ion-label position="stacked">Preço por Kg em reais</ion-label>
          <ion-input
            type="number"
            placeholder="em decimal (0.1)"
            [(ngModel)]="kg"
            [disabled]="true"
          ></ion-input>
        </ion-item>

      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
